@{
    ViewBag.Title = "Home Page";

}
<img src="~/img/cowbell.gif" />
<p>
    Hey, This is my assignment 1, Im going to use this home page as a place to explain my project. In the div bar you can see my two tables
    Genre and Games. There you can use crud operations as created by visual studio. registration is set up on creation of the project and I have not implimented 
    user roles (as it was not part of this assignment) but I could in the future. I was able to seed the two tables with two peices of data the same way shown in
    class. Ill point out here, my games table includes a description however the crud operations cannot change this varable. this is because I scaffolded and then
    realized I was missing this feild. I was able to recreate the table but I dont know how to recreate the crud pages. I might have been able to re scaffold the 
    model class but I was worried about having to re do the project and messing it up. all in all I tried to meet all aspects of the spec in the rubric to some extent.
</p>

